/*.shiki-dark {*/
/*  background: var(--slidev-theme-code-background) !important;*/
/*}*/

:not(pre) > code {
  @apply bg-slate-800;
}

.slidev-code-wrapper,
.shiki,
.shiki-container {
  @apply mb-4;

    @apply border-zinc-500;
  .slidev-code {
  }

  code, pre {
  }
}

:not(pre) > code:before,
:not(pre) > code:after {
  content: '';
  @apply px-1;
}

:not(pre) > code {
  &:before {
    margin-right: -0.08em;
  }

  @apply rounded;
  @apply border border-zinc-500;
  @apply bg-black;
  @apply mx-1;
}