:root {
    /* default theme color */
    /* can be overrided by uses `themeConfig` option */
    --slidev-theme-primary: #161c2c;
    --slidev-theme-color: #f3eff5;
    --slidev-theme-background: url(../public/nmt-bg-red-top.svg);


    /* Custom colors*/
    --color-nmtred-50: oklch(0.959 0.017 17.56);
    --color-nmtred-100: oklch(0.91 0.04 16.06);
    --color-nmtred-200: oklch(0.829 0.082 18.04);
    --color-nmtred-300: oklch(0.742 0.138 19.85);
    --color-nmtred-400: oklch(0.662 0.198 23.02);
    --color-nmtred-500: oklch(0.573 0.211 25.58);
    --color-nmtred-600: oklch(0.488 0.18 25.55);
    --color-nmtred-700: oklch(0.397 0.147 25.44);
    --color-nmtred-800: oklch(0.316 0.117 25.8);
    --color-nmtred-900: oklch(0.225 0.083 26.08);
    --color-nmtred-950: oklch(0.184 0.068 25.28);

    --color-nmtorange-50: oklch(0.976 0.012 51.38);
    --color-nmtorange-100: oklch(0.96 0.02 48.54);
    --color-nmtorange-200: oklch(0.909 0.048 51.58);
    --color-nmtorange-300: oklch(0.868 0.073 53.09);
    --color-nmtorange-400: oklch(0.818 0.11 56.49);
    --color-nmtorange-500: oklch(0.774 0.151 61.85);
    --color-nmtorange-600: oklch(0.646 0.13 62.53);
    --color-nmtorange-700: oklch(0.524 0.105 63.01);
    --color-nmtorange-800: oklch(0.393 0.078 62.55);
    --color-nmtorange-900: oklch(0.271 0.054 62.9);
    --color-nmtorange-950: oklch(0.2 0.041 61.65);

    /* Text sizes */
    --slidev-theme-font-size: 1.1em;
    --slidev-theme-default-font-size: var(--slidev-theme-font-size);
    --slidev-theme-cover-font-size: var(--slidev-theme-font-size);
    --slidev-theme-section-font-size: var(--slidev-theme-font-size);
    --slidev-theme-center-font-size: var(--slidev-theme-font-size);
    --slidev-theme-two-columns-font-size: var(--slidev-theme-font-size);
    --slidev-theme-aboutme-font-size: var(--slidev-theme-font-size);
    --slidev-theme-code-font-size: 16px;

    /* Code colors */
    --slidev-theme-code-background: rgba(32, 32, 32, 50%);
    --slidev-theme-code-border: rgba(96, 96, 96);

    /* Accent colors */
    --slidev-theme-accents-nmt: var(--color-nmtred-500);
    --slidev-theme-accents-rose: #f141a8;
    --slidev-theme-accents-teal: #44ffd2;
    --slidev-theme-accents-yellow: #ffe45e;
    --slidev-theme-accents-orange: var(--color-nmtorange-700);
    --slidev-theme-accents-red: var(--color-nmtred-700);
    --slidev-theme-accents-lightblue: #15c2cb;
    --slidev-theme-accents-blue: #5eadf2;
    --slidev-theme-accents-indigo: #5eadf2;
    --slidev-theme-accents-vulcan: #0e131f;

    /*  Default */
    --slidev-theme-default-headingBg: var(--slidev-theme-accents-orange);
    --slidev-theme-default-headingColor: var(--slidev-theme-accents-vulcan);
    --slidev-theme-default-background: var(--slidev-theme-background);

    /*  Center */
    --slidev-theme-center-headingBg: var(--slidev-theme-accents-blue);
    --slidev-theme-center-headingColor: var(--slidev-theme-accents-vulcan);
    --slidev-theme-center-background: var(--slidev-theme-background);

    /*  Cover */
    --slidev-theme-cover-headingBg: var(--slidev-theme-accents-red);
    --slidev-theme-cover-headingColor: var(--slidev-theme-accents-vulcan);
    --slidev-theme-cover-background: var(--slidev-theme-background);

    /*  Section */
    --slidev-theme-section-headingBg: var(--slidev-theme-accents-lightblue);
    --slidev-theme-section-headingColor: var(--slidev-theme-accents-vulcan);
    --slidev-theme-section-background: var(--slidev-theme-background);

    /*  About me */
    --slidev-theme-aboutme-background: var(--slidev-theme-background);
    --slidev-theme-aboutme-color: var(--slidev-theme-color);
    --slidev-theme-aboutme-helloBg: var(--slidev-theme-accents-red);
    --slidev-theme-aboutme-helloColor: var(--slidev-theme-color);
    --slidev-theme-aboutme-nameColor: var(--color-nmtorange-500);
}

/* The unnamed styles */
.dark #slide-content,
.dark .bg-main,
.slidev-layout {
    @apply bg-[url(../public/nmt-bg-red-top.svg)];
    @apply bg-cover;
    @apply border-none;
}

/*  General layout styles */
.slidev-layout {
    font-size: var(--slidev-theme-font-size, 1.1em);

    :not(pre) > code {
        background: var(--slidev-theme-code-background);
        color: var(--slidev-theme-code-color, var(--slidev-theme-color));
    }

    h1 + p {
        opacity: 1;
    }

    blockquote {
        @apply flex flex-row items-center;
        @apply bg-zinc-900;
        @apply border-0 border-l-4 border-l-lime-500;
        @apply py-1;
        @apply text-lg font-thin tracking-wide;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply mt-4;
    }
    h1 {
        @apply text-4xl text-center;
        @apply -rotate-2 text-black bg-lime-500;
        @apply max-w-fit px-4 pt-1 pb-2 rounded;
        @apply -ml-8;
    }

    h2 {
        @apply text-3xl mb-4 text-zinc-100;
    }

    h3 {
        @apply text-2xl mb-2 text-zinc-200;
    }

    h4 {
        @apply text-xl mb-1 text-zinc-300;
    }

    h5 {
        @apply text-base mb-1 text-zinc-400;
    }

    a {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    h2 + p,
    h2 + ul {
        @apply mt-4;
    }

    p + h2,
    ul + h2,
    table + h2,
    p + blockquote,
    h2 + blockquote,
    h3 + blockquote,
    h4 + blockquote,
    h5 + blockquote {
        @apply mt-8;
    }

    li input[type="checkbox"] {
        @apply mr-2 h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500;

        appearance: none;
        border: 1px solid var(--slidev-theme-accents-blue);
        height: 1rem;
        width: 1rem;

        &:checked {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='currentcolor' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
            border-color: transparent;
            background-color: var(--slidev-theme-accents-blue);
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .slidev-code code {

        font-size: var(
                --slidev-theme-code-font-size,
                var(--slidev-code-font-size),
                1em
        ) !important;
        @apply leading-5;
    }
}

.slidev-layout.cover,
.slidev-layout.intro {
    @apply h-full grid;

    h1 {
        @apply text-6xl leading-20;
    }

    h1 + p {
        @apply -mt-2 opacity-50 mb-4;
    }
}

.slidev-layout.cover,
.slidev-layout.section,
.slidev-layout.intro,
.slidev-layout.default,
.slidev-layout.center,
.slidev-layout.two-columns,
.slidev-layout[layout="default"],
.about-me {
    h1 {
        background: var(--slidev-theme-accents-red);
        @apply text-white;
        @apply shadow shadow-black;

        code {
            background: transparent !important;
            font-size: inherit;
            outline: 0 !important;
        }
    }
}

/*  Default */
.slidev-layout.default,
.slidev-layout[layout="default"] {
    background: var(--slidev-theme-default-background);
    @apply bg-fit;
    font-size: var(--slidev-theme-default-font-size);

    h1 {
        @apply bg-rose-700;
        @apply text-rose-100;
    }

    p {
    }
}

/*  Cover */
.slidev-layout.cover {

    h1{
        @apply rounded-xl;
    }

    h1 + p {
        opacity: 0.7;
        padding-left: 1.25em;
    }

    > div {
        z-index: 1;
        @apply p-4;

        h1 {
            @apply m-0 -ml-6;
        }

        h2 {
            @apply mt-8 mb-4;
        }

        p {
            @apply text-2xl leading-10;
        }

    }
}

/*  Section */
.slidev-layout.section {
    @apply flex flex-col justify-center;
    @apply h-full space-y-4;
    @apply px-24 py-16;

    h1 {
        @apply text-5xl;
        @apply text-indigo-100 bg-indigo-700;
        @apply pb-4;
    }

    h2 {
        @apply text-4xl;
        @apply text-zinc-300;
    }

    p {
        @apply text-zinc-400;
        @apply text-xl leading-20;
    }
}

/*  Center */
.slidev-layout.center {

    h1 {
        @apply text-4xl;
        @apply px-4 pb-2 ;
        @apply bg-amber-700 text-amber-100;

        code {
            background: transparent !important;
        }
    }

    p {
        @apply text-xl;
    }
}

/* Two columns */
.slidev-layout.two-columns {

    @apply gap-6 px-8 py-4;
    @apply w-full h-full;
    @apply grid grid-cols-2;

    h1 {
        @apply odd:bg-purple-500 text-purple-100 ;
    }

    div {
        @apply p-4 mt-6;
        @apply bg-zinc-950/50 rounded;
    }
}

/* Two columns, 2/3 1/3 */
.slidev-layout.two-columns.two-one {
    @apply grid-cols-3;

    .two-one h1 {
        @apply text-cyan-100;
        @apply odd:bg-cyan-700;
    }
}

/* About me slide */
.about-me {
    @apply bg-none;
    @apply mx-4;

    h1 {
        @apply bg-orange-600;
        @apply text-orange-100 font-semibold;
        @apply mt-6;
    }

    h2 {
        @apply text-orange-500;
        @apply text-4xl font-medium;
    }

    p {
        @apply my-0;
    }

    .company {
        @apply text-xl font-semibold;
        @apply text-zinc-400;
    }

    .line-1,
    .line-2,
    .line-3,
    .social-1,
    .social-2,
    .social-3 {
        @apply text-lg font-light leading-9;
        @apply text-zinc-400;
    }
}


.grid4 {
    @apply flex flex-col justify-center;
    @apply h-full w-full space-y-4;

    h1 {
        @apply bg-fuchsia-700;
        @apply text-fuchsia-100;
    }

    h2 {
        @apply text-xl;
    }

    .grid-sections {
        @apply flex flex-row flex-wrap;
        @apply gap-4 overflow-hidden;
    }

    .cell {
        @apply bg-zinc-900/30 odd:bg-gray-950/50;
        @apply rounded p-4;
        @apply w-9/20 grow;
    }

}

.end {
    h1 {
        @apply font-normal;
        @apply text-rose-200;
        @apply bg-rose-900;
        @apply p-4 px-8;
    }

    p {
        @apply text-zinc-400;
    }
}
